
:root{
    --main-color: white;
}


#about-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    position: relative;
}

.content {
    padding: 40px;
    color: white;
    color: var(--main-color);
}

.image-container {
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 1.25em;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

.image-container-one {
    width: 40%;
    position: sticky;
    left: 20px;
}

.image_container img {
    max-width: 100%;
    border-radius: 10px;
}
